.nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 0.3rem;
    background-color: #40aba4;
}
.image {
    border-radius:
30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-right: 20%;
}
.brandName {
    font-size: 2.6rem;
    color: #fff;
    font-weight: 500;
}
.input {
    width: 70%;
    border: 0;
    border-radius: 5px;
    padding: 0.6rem;
}